In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv('StudentsPerformance.csv')

# Display the first few rows of the dataset
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
# Check for missing values in the dataset
missing_values = df.isnull().sum()

missing_values

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [4]:
# Check for duplicate rows in the dataset
duplicate_rows = df[df.duplicated()]

num_duplicate_rows = len(duplicate_rows)
num_duplicate_rows

0

In [ ]:
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Set style for seaborn
# sns.set_style("whitegrid")

# # Plot boxplots for scores
# plt.figure(figsize=(12, 8))
# sns.boxplot(data=data[['math score', 'reading score', 'writing score']])
# plt.title('Box plots for scores')
# plt.show()

In [6]:
# Check unique values for categorical columns
categorical_columns = ['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

unique_values = {col: df[col].unique() for col in categorical_columns}

unique_values

{'gender': array(['female', 'male'], dtype=object),
 'race/ethnicity': array(['group B', 'group C', 'group A', 'group D', 'group E'],
       dtype=object),
 'parental level of education': array(["bachelor's degree", 'some college', "master's degree",
        "associate's degree", 'high school', 'some high school'],
       dtype=object),
 'lunch': array(['standard', 'free/reduced'], dtype=object),
 'test preparation course': array(['none', 'completed'], dtype=object)}

In [8]:
from sklearn.preprocessing import LabelEncoder

# Initialize label encoder
le = LabelEncoder()

# Encode categorical columns
for col in categorical_columns:
    df[col] = le.fit_transform(df[col])

# Save the encoded dataset to a new file
encoded_file_path = 'Studentsencoded.csv'
df.to_csv(encoded_file_path, index=False)

encoded_file_path

'Studentsencoded.csv'